@model DistributedPatientHealthCareSystem.DPHCSModels.Hospital

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p style="margin-top:3%">
    <a href="@Url.Action("Create","Hospital")" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> Add Branch</a>

</p>

<div class="panel panel-primary panel-body col-md-7 col-md-offset-2">
    <form asp-action="Edit">
        <h3 id="themecolor" style="margin:5%">Change Branch Detail</h3>
        <div class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HospitalId" />
            <div class="form-group">
                <label asp-for="Address" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Api" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Api" class="form-control" />
                    <span asp-validation-for="Api" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="WebSite" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="WebSite" class="form-control" />
                    <span asp-validation-for="WebSite" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
